
<div id="dashboard">
   <table id="events_all">
      <tr>
         <th>日付</th>
         <th>公演</th>
         <th>会場</th>
         <th>詳細</th>
      </tr>

      <% @events.each do |event| %>
         <tr>
            <td><%= event.start_date.strftime("%m月%d日") %></td>
            <td><%= event.title %></td>
            <td><%= event.place.title%></td>
            <td><%= link_to "詳細", detail_path(event) %></td>
         </tr>
      <% end %>

      <tr>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
   </table>
</div>
