<div id="about">
   <div class="headline">
      <h1>Noh-Event(仮)とは</h1>
      <p>規模の大小に関わらず、全国の能楽の催しをみんなで登録して共有することで、能楽のイベントを簡単に探せるサービスです。全国各地の能楽公演情報を集約し、掲載しています。</p>
   </div>

   <div id="about-sections-vue" class="section">
   </div>

</div>
