<div id="about">
   <div class="headline">
      <h1>Noh-Event(仮)とは</h1>
      <p>Noh-Event(仮)は、能楽を楽しみたい、知りたい人のための情報配信サービスです。
      全国各地の能楽公演情報を集約し、掲載しています。</p>
   </div>

   <div id="about-sections-vue" class="section">
   </div>

</div>
