<div id="about" class="static-pages">
   <h1>初めての方へ<br>～Noh-Event(仮)とは～</h1>
   <p>
      Noh-Eventは京都を中心とした能楽公演情報を配信する
      ツアー支援プラットフォームです。
   </p>

   <h2>興味のある演目をいち早く配信</h2>
   <p>
      Noh-Eventは京都市内にある能楽の公演情報を集約し掲載しています。
      興味のある演目、舞台があれば、あなたのもとにそれらを中心とした
      新着の公演情報が届きます。また、気になるけど行けるかわからない公演
      があれば、クリップに保存していつでも参加を検討できます。
   </p>

   <h2>能楽の世界に深く潜り込む</h2>
   <p>
      演目の真髄に触れ、より楽しむためには世界観の理解が必須です。
      Noh-Event(仮)では、演目に関わるスポット情報を併せて配信し、
      少しでも能楽の世界に入り込む手助けをしております。
   </p>

   <h2>自分たちが主催する事も</h2>
   <p>
      掲載されている公演に参加するだけでなく、ユーザが自ら主催する事も
      可能です。仲間内の練習会から、お客様を相手にした大規模な公演まで
      幅広くリクエストに対応します。
      ※このコンテンツは、能楽師限定です。
   </p>
</div>
