<div id="convention">
   <div class="headline">
      <h1>Noh-Event(仮)利用規約</h1>
      <p>本規約は、当サイトを利用、または閲覧される利用者（以下「利用者」
         という）全てに適応されます。なお、本規約につきましては予告なく変更
         することがあります。</p>
   </div>

   <div class="section">
      <div class="article">
         <h2 class="article-header" class="article-header">第１条【本規約の範囲及び変更】</h2>
         <ol>
            <li>利用者は、本規約を承諾のうえ当社所定の方法にて当サイトを利用するものとします。</li>
            <li>当社は、いつでも任意の理由により、利用者に事前に通知することなく、
               本規約を変更、追加、及び削除をすることができるものとします。</li>
         </ol>
      </div>
      <div class="article">
         <h2 class="article-header">第２条【サービス】</h2>
         <ol>
            <li>当サイトの利用に際してはウェブにアクセスする必要がありますが、利用者は自らの費用と責任で必要な機器・ソフトウェア・通信手段等を用意し適切に接続・操作することとします。</li>
            <li>当サイトではイベントの作成及び共有を行うサービスの提供を行っておりますが、将来、様々なサービスを追加したり、または変更・削除することがあります。</li>
            <li>当社は、当サイトが提供するサービス及び当サイトに付随するサービスに対する保証行為を一切しておりません。また、当社は、当サイトの提供するサービスの不確実性・サービス停止等に起因する利用者への損害について、一切責任を負わないものとします。</li>
         </ol>
      </div>
      <div class="article">
         <h2 class="article-header">第３条【利用者情報の取り扱い】</h2>
         <ol>
            <li>当サイトの利用に際して利用者から取得した氏名、メールアドレス等の個人情報は、別途定める「プライバシーポリシー」に則り取り扱われます。</li>
            <li>利用者が、当サイトに登録した内容は、当社が所有するものとします。</li>
            <li>当社は、原則として個人を特定できる情報（氏名、電話番号、メールアドレス）を本人の同意を得ずに第三者に開示することは行わないものとします。ただし、個人を特定できない情報については、本人の承諾なく開示される場合があります。</li>
            <li>利用者が当社、加盟サイト、ほかの利用者または第三者に不利益をおよぼす行為をしたと当社が判断した場合、当社は利用者による当サイトの登録内容を当該第三者や警察または関連諸機関に通知することができます。</li>
            <li>裁判所、検察官、警察、弁護士会、消費者センターまたはこれに準じた権限を有する機関から、利用者の登録内容についての開示が求められた場合、当社の権利、信用や財産を保護する目的で情報を一部開示するものとします。</li>
            <li>利用者は、当サイトの利用上発生した当社、利用者同士または第三者との間の苦情、クレーム、訴訟について、当社が要求する事項（文章、口頭による交渉を含むがこれに限定されない）をすべて当社に対して開示するものとします。</li>
            <li>利用者が当サイトに登録または記載した情報は、当社が定める所定の期間または量を超えた場合、利用者への事前通知なく削除されることがあります。</li>
         </ol>
      </div>
      <div class="article">
         <h2 class="article-header">第４条【権利の帰属】</h2>
         <ol>
            <li>利用者が当サイトに記載した情報により知的所有権（著作権・意匠権・特許権・実用新案権・商標権・ノウハウが含まれるがこれに限定されない）が発生する場合、当該権利はすべて当社に帰属するものとします。また、これは無償で永続的な権利とみなします。</li>
            <li>利用者が情報の記載を行った時点で、その投稿内容を当社および当社が認めた第三者が二次利用（雑誌への掲載許可など。複製・公開・送信・出版・翻訳・翻案・編集・転載なども含みます）することを許諾したものとみなします。</li>
         </ol>
      </div>
   </div>
</div>
