<div id="trend-banners">
   <p>規模の大きい公演を4～5個ピックアップ、紹介(スライドショー形式で)</p>
</div>

<h1 class="section-header">お知らせ</h1>
<div class="news-content">
   <span>2017年05月17日</span>
   <a href="#">能楽体験教室「楽しもう！能の世界」のお知らせ</a>
</div>
<div class="news-content">
   <span>2017年05月10日</span>
   <a href="#">作ってみよう！自分だけの能面ワークショップにて登壇者を募集しています。</a>
</div>
<div class="news-content">
   <span>2017年04月28日</span>
   <a href="#">熊本自身災害義援金についてのご報告</a>
</div>
<div class="news-content">
   <span>2017年04月13日</span>
   <a href="#">Noh-Eventへようこそ</a>
</div>

<h1 class="section-header">最新の公演情報</h1>
<div class="event-content">
   <div class="content-title">
      <a href="#">第28回金剛能楽堂清涼祭</a>
      <button><%= fa_icon('check-square-o')%></button>
   </div>
   <ul class="content-info">
      <li class="place">金剛能楽堂</li>
      <li class="date">2017年06月27日 13:00</li>
   </ul>
   <ul class="content-tickets">
      <li>特等席 9,000円</li>
      <li>指定席 6,500円</li>
      <li>自由席 4,200円</li>
      <li>学生 2,800円</li>
   </ul>
</div>

<a class="pager-more" href="#">もっと見る</a>
