<div id="help">
   <div class="headline">
      <h1>よくある質問</h1>
   </div>

   <div class="section">
      <h1 class="section-header">会員登録</h1>

      <div class="article">
         <h2 class="article-header">新規会員登録の確認メールが届かない</h2>
         <p>info@nohsight.comのメールが受信拒否設定されていないか、または
            迷惑メールに分類されていないかご確認ください。</p>
      </div>

      <div class="article">
         <h2 class="article-header">SNSを利用していないのですが登録できるでしょうか？</h2>
         <p>メールアドレスにて会員登録をする事でご利用いただけます。
            SNSとの連携はあとから設定することが可能ですので、SNSの利用を始めた際に、
            連携の設定をしてください。</p>
      </div>

   </div>

   <div class="section">
      <h1 class="section-header">アカウント</h1>

      <div class="article">
         <h2 class="article-header">ログインできない</h2>
         <p>ユーザ名、メールアドレス、パスワードなどを間違えていないかご確認ください。</p>
      </div>

      <div class="article">
         <h2 class="article-header">退会したい</h2>
         <p>利用設定ページからアカウントの削除が可能です。
            [マイページ]→[プロフィール編集]から[アカウントを削除する]ボタンをクリックしてください。
            ※退会したアカウントを再度使うことはできませんので、ご注意ください。</p>
      </div>
   </div>

   <div class="section">
      <h1 class="section-header">公演管理</h1>

      <div class="article">
         <h2 class="article-header">公演を削除できますか？</h2>
         <p>未公開の公演は削除できます。</p>
         <p>公開中の公演や他に編集者が存在する公演は削除できないので注意してください。</p>
      </div>

      <div class="article">
         <h2 class="article-header">編集者を非表示にしたいです</h2>
         <p>編集者を非表示にすることはできません。</p>
      </div>

      <div class="article">
         <h2 class="article-header">公演の説明文に画像を使用できますか？</h2>
         <p>説明文中に画像は使用できませんが、公演のヘッダーとして表示することはできます。</p>
      </div>
   </div>
</div>
