<div id="help">
   <div class="headline">
      <h1>よくある質問</h1>
   </div>

   <div class="section">
         <h1 class="section-header">会員登録</h1>

      <div class="article">
         <h2 class="article-header">新規会員登録の確認メールが届かない</h2>
         <p>@noh.comのメールが受信拒否設定されていないか、または
            迷惑メールに分類されていないかご確認ください。</p>
      </div>

      <div class="article">
         <h2 class="article-header">SNSを利用していないのですが登録できるでしょうか？</h2>
         <p>メールアドレスにて会員登録をする事でご利用いただけます。
            SNSとの連携はあとから設定することが可能ですので、SNSの利用を始めた際に、
            連携の設定をしてください。</p>
      </div>

   </div>

   <div class="section">
         <h1 class="section-header">アカウント</h1>

      <div class="article">
         <h2 class="article-header">ログインできない</h2>
         <p>ユーザ名、メールアドレス、パスワードなどを間違えていないかご確認ください。</p>
      </div>

      <div class="article">
         <h2 class="article-header">ユーザー名を変更したい</h2>
         <p>ユーザー名は変更できませんが、表示名は自由に変更が可能です。</p>
      </div>

      <div class="article">
         <h2 class="article-header">退会したい</h2>
         <p>利用設定ページからアカウントの削除が可能です。
            ※退会したアカウントを再度使うことはできませんので、ご注意ください。</p>
      </div>

   </div>
</div>
