<div id="search" class="search">
   <div class="headline">
      <h1>公演検索</h1>
   </div>
   <div class="form-section">
      <%= form_for(:search, url: events_path, method: :get) do |f| %>
         <h1 class="form-header">開催日程</h1>
            <dl>
               <dt>From</dt>
               <dd><input type="date" name="search[start_date]" id="search-start-date"></dd>
            </dl>
            <dl>
               <dt>To</dt>
               <dd><input type="date" name="search[end_date]" id="search-end-date"></dd>
            </dl>
         <h1 class="form-header">開催地</h1>
            <dl>
               <dt><label>エリア(地域)</label></dt>
               <dd id="search-address-vue"></dd>
            </dl>
            <dl>
               <dt><label>会場名</label></dt>
               <dd><input type="text" name="search[venue]" id="search-venue"></dd>
            </dl>
         <h1 class="form-header">演目</h1>
         <dl>
            <dt><label>演目名</label></dt>
            <dd><input type="text" name="search[program]" id="search-program"></dd>
         </dl>
         <h1 class="form-header">演者</h1>
         <dl>
            <dt><label>出演者</label></dt>
            <dd><input type="text" name="search[performer]" id="search-performer"></dd>
         </dl>
         <dl>
            <dt><label>囃子方</label></dt>
            <dd><input type="text" name="search[accompanist]" id="search-accompanist"></dd>
         </dl>
         <h1 class="form-header">カテゴリ</h1>
         <dl>
            <%= content_tag :div,
               id: 'search-category-vue',
               data: { categories: Event::CATEGORIES }.to_json do %><% end %>
         </dl>
         <%= f.submit('検索する', class: 'form-submit') %>
      <% end %>
   </div>
</div>
