<div id="search">
   <%= form_for(:event, url: events_path, method: :get) do |f| %>
      <%= f.text_field :search_query %>
      <%= button_tag(type: 'submit') do %>
         <i class="fa fa-search"></i>
      <% end %>
   <% end %>
</div>
