<div id="login">
   <div class="event-overall">
      <h1>ログイン</h1>
   </div>
   <%= form_for(:session, url: login_path) do |f| %>
   <div class="form-content">
      <div class="form-section">
         <div class="form-article">
            <label>Eメールアドレス</label>
            <%= f.text_field :email %>
         </div>
         <div class="form-article">
            <label>パスワード</label>
            <%= f.password_field :password %>
         </div>
      </div>
      <%= f.submit 'ログイン'、class: 'form-login' %>
   </div>
   <% end %>
</div>
