<div id="password-reset-new">
   <div class="headline">
      <h1>パスワード再設定</h1>
   </div>

   <%= form_for(:reset, url: password_resets_path, method: :post) do |f| %>
   <div class="form-section">
      <h1 class="form-header">Eメールアドレスを入力してください</h1>
      
      <div class="md-form">
         <label>再設定の案内メールを送信します。</label>
         <%= f.text_field :email, id: 'email' %>
      </div>
   </div>
   <div class="form-submit">
      <%= f.submit 'メールを送信' %>
   </div>
   <% end %>
</div>
