<%= @user.name %>様

<p>Noh Sightをご利用いただきありがとうございます。</p>

<p>下記のURLから、パスワードの再設定を行ってください。</p>

<%= link_to 'パスワード再設定', edit_password_reset_url(token: @user.password_reset_token, email: @user.email) %>

<p>※このメールにお心当たりのない場合は、お手数ですがURLにアクセスせずにメールを破棄してください。</p>
