<div id="event-place-edit">

   <%= form_for(:event, url: event_place_path(@event), method: 'patch') do |f| %>
   <div class="form-section">
      <h1 class="form-header">会場の編集</h1>

      <%= content_tag :div,
         id: "event-place-edit-vue",
         data: {
            event:   @event,
            place:   @place,
            places:  @places
         }.to_json do %>
      <% end %>
   </div>

   <input class="form-submit" type="submit" value="保存">
   <% end %>
</div>
