<div id="event-place-edit">

   <%= form_for(:event, url: event_place_path(@event), method: 'patch') do |f| %>
   <div class="form-section">
      <h1 class="form-header">会場の編集</h1>

      <%= content_tag :div,
         id: "event-place-edit-vue",
         data: { event:          @event,
                 place:          @place,
                 places:         @places,
                 render_params:  @render_params }.to_json do %>
      <% end %>
      <%= f.submit('保存', class: 'form-submit') %>
   </div>
   <% end %>
</div>
