<div id="event-place-edit">

   <%= form_for(:event, url: event_place_path(@event), method: 'patch') do |f| %>
   <div class="form-section">
      <h1 class="form-header">会場の編集</h1>

      <div id="event-place-<%= @event.id %>"></div>
   </div>

   <input class="form-submit" type="submit" value="保存">
   <% end %>
</div>
