<div id="events-index">
   <div class="section">
      <h1 class="section-header"><%= "#{@event_count}件の公演" %></h1>

      <%= render 'shared/event_articles' %>

      <%= paginate @events %>
   </div>
</div>
