<div id="tickets-edit">

   <%= form_for(:event, url: ticket_path(@event), method: 'patch') do |f| %>
   <div class="form-section">
      <h1 class="form-header">チケットの編集</h1>
      <h2 class="form-header">料金一覧</h2>
      <% @tickets.each do |ticket| %>
         <div id="ticket-<%= ticket.id %>"></div>
      <% end %>
      <h2 class="form-header">チケットの新規追加</h2>

      <div id="tickets-new"></div>
   </div>
   <%= f.submit('保存', class: 'form-submit') %>
   <% end %>
</div>
