<div id="tickets-edit">
   <div class="headline">
      <h1>料金の編集</h1>
   </div>
   <div class="form-section">
      <h1 class="form-header">チケットの編集</h1>

      <div class="sm-form">
         <label>席</label>
         <input type="text">
      </div>
      <div class="sm-form">
         <label>料金</label>
         <input type="text">
      </div>

   </div>

   <input class="form-submit" type="submit" value="保存">
</div>
