<div id="event-performers-edit">

   <%= form_for(:event, url: event_performer_path(@event), method: 'patch') do |f| %>
   <div class="form-section">
      <h1 class="form-header">演者の編集</h1>
      <h2 class="form-header">演目の一覧</h2>

      <%= content_tag :div,
         id: 'event-performers-edit-vue',
         data: {
            event:            @event,
            event_programs:   @ev_progs,
            event_performers: @ev_perfs,
            performers:       @performers,
            programs:         @programs
         }.to_json do %><% end %>
   </div>
   <%= f.submit('保存', class: 'form-submit') %>
   <% end %>
</div>
