
/********************************************

                  Libraries

********************************************/
@import './layout';

/********************************************

                  Icon

********************************************/
span.btn {
   display: inline-block;
   text-align: center;
   background-color: inherit;
   border: 1px solid #a6a6a6;
   border-radius: 6px;
   margin-left: 8px;
   width: 28px;
   padding: 3px 7px;

   i { font-size: 14px;}
}

/********************************************

                  Articles

********************************************/
div.headline {
   margin: 14px 0;
   h1 {
      font-size: 22px;
      color: #575757;
      margin-bottom: 12px;
   }
   ul {
      li {
         margin-top: 7px;
         color: #8f8f8f;
      }
   }
}

div.section {
   h1.section-header {
      background-color: #660000;
      color: #ffffff;
      padding: 9px 11px;
      font-size: 18px;
   }

   div.article {
      padding: 18px 11px;
      border-bottom: 1px solid #9d9d9d;

      h2.article-header {
         font-size: 16px;
         border-left: 3px solid #660000;
         padding: 6px 7px;
         margin-bottom: 12px;
      }
   }
}

div.organizer {
   margin: 10px 0 3px 3px !important;
   a {
      display: inline-block;
      padding: 0 10px 0 4px;
      border: 1px solid #dedede;
      border-radius: 6px;
      background-color: #f3f3f3;
      * { float: left; }
      img {
         width: 29px;
         height: 29px;
         border: 1px solid #8a8a8a;
      }
      span {
         margin: 6px 0 0 9px;
         display: block;
         color: #565656
      }

      &:hover {
         span {
            color: #898989;
            text-decoration: underline;
         }
      }
   }
}
/********************************************

                  Forms

********************************************/

div.form-section {
   background-color: #f5f5ff;
   position: relative;

   h1.form-header {
      font-size: 14px;
      color: #efefef;
      background-color: #222f3e;
      padding: 8px;
      margin-bottom: 14px;
   }
   h2.form-header {
      border-left: 4px solid #222f3e;
      border-bottom: 1px solid #222f3e;
      font-size: 14px;
      margin: 14px 9px 8px 4px;
      padding: 0 0 3px 5px;
   }

   h3.form-header {
      margin: 9px;
      border-bottom: 1px solid #ababab;
      display: inline-block;
      width: auto;
      text-decoration: none;
      padding: 2px 5px;
   }

   label, span.required { display: inline; }
   span.required {
      font-size: 11px;
      margin-left: 7px;
      padding: 1px 6px 3px 6px;
      border-radius: 7px;
      background-color: #e62e00;
      color: #ffffff;
   }

   input, textarea {
      margin-top: 9px;
      box-sizing: border-box;
      border: 1px solid #989898;
      padding: 4px 6px;
      display: block;
      border-radius: 4px;
   }
   textarea { height: calc((14px * 7) + (3px * 6)); }

   div.lg-form, div.md-form, div.sm-form {
      position: relative;
   }

   div.lg-form {
      box-sizing: border-box;
      width: calc(100% - 24px);
      margin: 0 12px;
      padding-bottom: 12px;
      overflow: visible;
      input, textarea, .search-records { width: 100%; }
   }
   div.md-form {
      width: calc(100% - 24px);
      margin: 0 12px;
      padding: 0 10px 10px 10px;
      overflow: hidden;
      label {
         float: left;
         display: block;
         margin-top: 10px;
      }
      input, .search-records {
         float: right;
         width: 60%;
      }
   }
   div.sm-form {
      float: left;
      box-sizing: border-box;
      margin-bottom: 8px;
      width: 50%;
      label {  margin-left: 9px;}
      input, .search-records {
         margin-left: 9px;
         width: 85%;
      }
   }

   .vertical-division {
      margin-top: 6px;
      border-top: 1px solid #b3b3b3;
      overflow: visible;
      label {
         float: left;
          display: inline-block;
          margin: 14px 8px 0 0;
      }
      ul {
         li { margin-top: 5px; }
      }
      .btn { margin-bottom: 2px; }
      div.vertical-section {
         float: left;
         width: calc(100% - 60px);
         div.vertical-form {
            overflow: visible;
            z-index: 1;
            div {
               input { width: calc(100% - 125px); }
               ul.item-icons {
                  float: right;
                  margin-left: -1px;
               }
            }
            * { display: inline-block; }

            .search-records {
               width: calc(100% - 185px);
               position: absolute;
               left: 50px;
               margin-top: -20px;
               z-index: 1;
               ul {
                  width: 100%;
                  overflow: scroll;
                  max-height: 70px;
                  display: block;
                  li {
                     display: inline-block;
                     margin-top: 0;
                     width: 100%;
                  }
               }
            }
         }
      }
      .search-records { width: calc(100% - 62px); }
   }

   ul.form-summary {
      li {}
   }

   p.command {

   }

   div.form-pointer {
      overflow: hidden;
      div {
         float: right;
         margin-right: 12px;
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 0 13.5px 14px 13.5px;
         border-color: transparent transparent #222f3e transparent;
      }
   }
   div.sub-form {
      overflow: visible;
      width: 100%;
      border-top: 2px solid #222f3e;
   }

   ul.item-icons {
      text-align: right;
      margin: 8px 6px;
      li {
         display: inline-block;
         margin-left: 14px;
         button { margin-left: 6px; }
      }
   }

// Vue Component
   div.item-component, div.new-item {
      border-bottom: 1px solid #909090;
      padding: 7px 4px;

      .edit-item {
         overflow: hidden;
         padding-top: 5px;
      }

      h3.item-header {
         font-size: 13px;
         margin: 0 0 11px 9px;
         text-decoration: underline;
      }

      ul.item-performers {
         margin-top: 8px;
         li { display: inline;}
      }
   }
   div.update {
      background-color: #ffffe6;
      p.item-info { font-size: 15px; }
      ul.item-icons {
         li {
            &:first-child {
               color: #b38600;
               text-decoration: underline;
               .btn {
                  border-color: #b38600;
                  i { color: #b38600; }
               }
            }
         }
      }
   }
   div.destroy {
      background-color: #ffe6e6;
      ul.item-icons {
         li {
            &:last-child {
               color: #ff3333;
               text-decoration: underline;
               .btn {
                  border-color: #ff3333;
                  i { color: #ff3333; }
               }
            }
         }
      }
   }
}

.form-submit {
   font-family: "ヒラギノ明朝 ProN W6";
   text-align: center;
   font-size: 14px;
   margin: 22px auto;
   box-sizing: border-box;
   border: none;
   width: 100%;
   padding: 7px 25px;
   border-radius: 6px;
   background-color: #e62e00;
   color: #ffffff;
}

input[type='submit'].form-submit {
   &:hover {
      background-color: #ff704d;
   }
}

/********************************************

               Kaminari

********************************************/
nav.pagination {
   width: 100%;
   text-align: center;

   span {
      display: inline-block;
      min-width: 27px;
      margin: 0 2px;
      padding: 5px 5px 6px 5px;
      border: 1px solid #353535;
      * {
         font-size: 15px;
      }
   }

   span.gap {
      padding: 0;
      border: none;
   }

   span.current {
      margin-top: -1px;
      padding: 7px 5px;
      background-color: #222f3e;
      color: #ffffff;
   }

}

/********************************************

               Vue Components

********************************************/

// ./prgograms/_index.vue
.search-records {
   margin-top: -3px;
   height: 160px;
   z-index: 1;
   position: absolute;
   overflow: scroll;
   display: block;
   ul {
      width: inherit;
      li {
         width: inherit;
         display: inline-block;
         padding: 6px 9px;
         border: 1px solid #989898;
         background-color: #ffffff;
         &:hover {
            background-color: #222f3e;
            color: #ffffff;
            cursor: pointer;
         }
      }
   }
}

.port-link {
   display: block;
   width: 100%;
   padding: 9px;
   text-align: right;
   margin-right: 8px;
   border-bottom: 1px solid #acacac;
   i { margin-left: 5px; }
}
