// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Detail(Events#show)
/********************************************

                   Event

********************************************/
// Show
.event-overall {
   margin-bottom: 14px;
   h1 {
      font-size: 22px;
      color: #575757;
   }

   ul {
      li {
         margin-top: 7px;
         color: #8f8f8f;
      }
   }
}

.event-header {
   font-size: 15px;
   border-left: 3px solid #660000;
   padding: 6px 7px;
}

.event-article {
   margin-top: 14px;
}

.event-location {
   margin-top: 26px;
   border: 1px solid #454545;
   width: calc(100% - 2px);
   min-height: 350px;
}

.no-event {
   margin-top: 15px;
   color: #787878;
}

.nearby_location {
   overflow: hidden;
   margin-top: 9px;
   border: 1px solid #909090;
   border-radius: 6px;
   img {
      float: left;
      width: 80px;
      height: 80px;
   }

   ul {
      float: right;
      width: calc(100% - 95px);
      padding: 6px;
      li {
         word-break: break-all;
         margin-bottom: 9px;
      }
   }
}

// New
.form-content {
   background-color: #f5f5ff;

   .form-header {
      overflow: hidden;
      color: #efefef;
      background-color: #222f3e;
      padding: 3px;
      h2 {
         float: left;
         font-size: 14px;
      }
      button {
         margin-right: 4px;
         float: right;
         border: 1px solid #cce6ff;
         background-color: inherit;
         color: #cce6ff;
         padding: 0 6px;
         font-size: 16px;
         border-radius: 5px;
      }
   }

   .form-section {
      .form-article {
         padding: 7px 10px;

         label, span { display: inline; }
         span {
            font-size: 11px;
            margin-left: 7px;
            padding: 1px 6px 3px 6px;
            border-radius: 7px;
            background-color: #e62e00;
            color: #ffffff;
         }
         input[type=text], textarea {
            margin-top: 9px;
            box-sizing: border-box;
            border: 1px solid #989898;
            padding: 4px 6px;
            display: block;
            width: 100%;
            border-radius: 4px;
         }
         textarea {
            height: calc((14px * 5) + (3px * 4));
         }

         &:first-child { padding-top: 17px; }
         &:last-child { padding-bottom: 21px; }
      }
   }
}

.form-submit {
   font-family: "ヒラギノ明朝 ProN W6";
   font-size: 15px;
   font-weight: bold;
   margin: 22px auto;
   box-sizing: border-box;
   width: 100%;
   padding: 6px 25px;
   border-radius: 6px;
   border: 1px solid #454545;
   background-color: #e62e00;
   color: #ffffff;
}
