// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Detail(Events#show)
/********************************************

                  Import

********************************************/

@import './layout';
@import './jquery-datetimepicker/build/jquery.datetimepicker.min';

/********************************************

                   Event

********************************************/
// Show

.event-location {
   margin-top: 26px;
   border: 1px solid #454545;
   width: calc(100% - 2px);
   min-height: 350px;
}

.no-event {
   margin-top: 15px;
   color: #787878;
}

.nearby_location {
   overflow: hidden;
   margin-top: 9px;
   border: 1px solid #909090;
   border-radius: 6px;
   img {
      float: left;
      width: 80px;
      height: 80px;
   }

   ul {
      float: right;
      width: calc(100% - 95px);
      padding: 6px;
      li {
         word-break: break-all;
         margin-bottom: 9px;
      }
   }
}

.user-command {
   margin: 12px 0;
   a, input {
      width: auto;
      background-color: #208000;
      color: #ffffff;
      border-radius: 5px;
      border: 1px solid #dedede;
      display: inline-block;
      padding: 7px 9px;
   }
}

// New
#events-new {
}

#event-tabs {
   overflow: hidden;

   div.event-tab {
      float: left;
      width: 50%;
      text-align: center;
      padding: 10px;
      i {
         font-size: 18px;
         margin-right: 2px;
      }
   }

   div.passive {
      background-color: #d1e0e0;
      border-right: 1px solid #9d9d9d;
      border-left: 1px solid #9d9d9d;
      border-bottom: 1px solid #9d9d9d;
   }
}

// Edit_manage
#events-manage, #requests-index {
   .contents {
      padding: 0 7px;

      p.no-event {
         text-align: center;
      }
   }

   table {
      margin-top: 12px;
      thead {
         border-bottom: 1px solid #9d9d9d;
      }

      th, td {
         text-align: center;
         vertical-align: middle;
         padding: 7px 0;
         border-bottom: 1px solid #9d9d9d;
      }
      .start-date { width: 26%; }
      td.start-date { font-size: 12px; }
      .point-record { width: 11%; }
      td.point-record { font-size: 11px; }
      td.title { text-align: left; }
      .status { width: 23%; }
      td.command {
         width: 7%;
         a, button {
            border: none;
            background-color: inherit;
            padding: 0;
            i {
               font-size: 19px;
            }
         }
      }
      td.edit {
         i { color: $font-info; }
      }
      td.destroy {
         i { color: $font-danger; }
      }
   }
}

// Edit_port
#events-edit-port{
   div.port-section {
      h1.port-header {
         font-size: 16px;
         color: #efefef;
         background-color: #222f3e;
         padding: 8px;
      }

      div.port-info {
         border-bottom: 1px solid #ababab;
         padding: 15px 8px;
         p {
            font-size: 14px;
            margin-bottom: 7px;
            &:last-child { margin-bottom: 0; }
         }
      }

      a.port-link {
         border-bottom: 1px solid #ababab;
         padding: 8px 12px;
         display: block;
         text-align: right;
         i {
            margin-left: 6px;
            font-size: 15px;
         }

         &:hover {
            background-color: #f5f5f5;
            text-decoration: none;
         }
      }
   }
}

#event_approval {
   .event-contents, .approval-commands {
      margin: 0 14px;
   }

   .event-contents {
      table {
         td {
            padding: 9px 0;
         }
         td.field { width: 34%; }
         td.item {
            p.program {}
            ul.performers {
               margin-left: 50px;
               li { margin: 6px 0; }
            }

            span { margin-right: 19px; }
         }
         tr.border {
            td {
               width: 100%;
               height: 1px;
               padding: 0;
               border-bottom: 1px solid #bdbdbd;
            }

         }
      }
      border-bottom: 1px solid #9d9d9d;
   }

   .approval-commands {
      .form-section {
         background-color: #ffffff;
      }
      p {
         margin: 9px 0;
      }
      ul {
         overflow: hidden;
         li {
            display: inline-block;
            margin: 0 10px;
            font-family: "ヒラギノ明朝 ProN W6";
            font-size: 12px;
            border: none;
            border-radius: 6px;
            * {
               display: inline-block;
               margin-right: 7px;
            }
            label { text-decoration: underline; }
            .approved { color: $font-success; }
            .rejected { color: $font-danger; }
         }
      }
   }


}


// Search (on Static Page)
#search {
   padding: 12px;

   form {
      input[type=text] {
         border: 1px solid #989898;
         padding: 9px 8px;
         border-top-left-radius: 6px;
         border-bottom-left-radius: 6px;
         font-size: 13px;
         width: calc(100% - 55px);

         &:hover {
            border: 1px solid #ffb366;
            box-shadow: -1px 0 3px 2px #ffb366;
            outline: none;
         }
      }
      input[type=submit] {
         border: 1px solid #989898;
         border-top-right-radius: 5px;
         border-bottom-right-radius: 5px;
         font-family: FontAwesome;
         font-size: 18px;
         padding: 5px 8px 6px 8px;
         margin-left: -5px;
      }
   }
}
