// Place all the styles related to the Mockups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************************************

                  Libraries

********************************************/
@import "font-awesome";
@font-face {
   font-family: "源ノ明朝";
   src: url("SourceHanSerif-SemiBold.otf");
}

/********************************************

                  variables

********************************************/
$font-color: #4a4a4a;
$main-back:  #5c6700;

/********************************************

                  MainFrame

********************************************/

html {
   * {
      font-size:   12px;
      font-family: "源ノ明朝"
   }
   a { text-decoration: none; }
}

#main{
   height: 1000px;
}

/********************************************

                   Header

********************************************/

header {
   position: fixed;
   width: 100%;

   // Manu bar
   #header-menu {
      overflow: hidden;
      background-color: $main-back;
      padding: 8px 11px;

      * { color: #e3e3e3; }

      h1 {
         float: left;
         margin: 9px 4px;
         font-size: 20px;
      }

      ul {
         float: right;
         overflow: hidden;

         li {
            display: inline-block;
            width: 36px;
            padding: 10px 0;
            margin-left: 5px;
            text-align: center;
            * { font-size: 19px; }

            &:hover {
               width: 34px;
               padding: 8px 0;
               border: 1px solid #ffb366;
               border-radius: 5px;
               * { color: #ffb366; }
            }
         }
      }
   }

   // Drop down
   #dropdown-menu {

      .dropdown-lists {
         display: none;
         width: 95%;
         margin: 0 auto;
         box-shadow: 0 2px 7px #dbdbdb;
         li {
            border-bottom: 1px solid #a4a4a4;
            border-left: 1px solid #a4a4a4;
            border-right: 1px solid #a4a4a4;
            padding: 14px 12px;

            * { font-size: 14px }
            i {
               width: 16px;
               text-align: center;
               margin-right: 8px;
            }
            form {
               input[type=text] {
                  border: 1px solid #989898;
                  padding: 5px 8px;
                  border-top-left-radius: 6px;
                  border-bottom-left-radius: 6px;
                  font-size: 13px;
                  width: calc(100% - 55px);

                  &:hover {
                     border: 1px solid #ffb366;
                     box-shadow: -1px 0 3px 2px #ffb366;
                     outline: none;
                  }
               }
               input[type=submit] {
                  border: 1px solid #989898;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                  font-family: FontAwesome;
                  font-size: 18px;
                  padding: 5px 8px 6px 8px;
                  margin-left: -5px;
               }
            }

            &:hover {
               background-color: #eeeeee;
            }
         }
      }
   }
}

/********************************************

                   Footer

********************************************/

footer {
   background-color: #242e2e;
   padding: 26px 19px;
   #footer-menu {
      li {
            margin-bottom: 9px;
            a {
               font-family: sans-serif;
               color: #a4a4a4;
               &:hover {
                  color: #ffffff;
                  text-decoration: underline;
               }
            }
      }
   }

   #copyright {
      margin-top: 20px;
      font-weight: bold;
      font-size: 14px;
      color: #676767;
   }
}

/********************************************

                   Main

********************************************/
