// Place all the styles related to the Mockups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************************************

                  Libraries

********************************************/
@import "font-awesome";
@font-face {
   font-family: "hans-serif-semibold";
   src: font-url("SourceHanSerif-SemiBold.otf");
}
@font-face {
   font-family: "hans-serif-bold";
   src: font-url("SourceHanSerif-Bold.otf");
}

/********************************************

                  variables

********************************************/
$font-color: #4a4a4a;
$main-back:  #5c6700;

// Component color
$box-success: #99e699;
   $font-success: #248f24;
$box-info: #80dfff;
   $font-info: #0086b3;
$box-warning: #ffd480;
   $font-warning: #b36b00;
$box-danger: #ff8080;
   $font-danger: #b30000;

/********************************************

                  MainFrame

********************************************/

html {
   * {
      font-size:   13px;
      font-family: "hans-serif-semibold";
      letter-spacing: 1px;
      line-height: 140%;
   }
   a {
      color: #337ab7;
      text-decoration: none;
   }
}

/********************************************

                   Header

********************************************/

header {
   z-index: 3;
   position: fixed;
   width: 100%;

   // Manu bar
   #header-menu {
      overflow: hidden;
      background-color: $main-back;
      padding: 8px 11px;

      * { color: #e3e3e3; }

      h1 {
         float: left;
         margin: 9px 4px;
         a { font-size: 20px; }
      }

      ul {
         float: right;
         overflow: hidden;

         li {
            display: inline-block;
            padding: 10px 2px;
            margin-left: 5px;
            text-align: center;
            width: 36px;
            i { font-size: 19px; }

            &:hover {
               margin-top: 1px;
               cursor: pointer;
               padding: 8px 0;
               border: 1px solid #ffb366;
               border-radius: 5px;
            }
         }

         li#login-btn {
            width: auto;
            padding: 10px 7px;
            a {
               font-size: 12px;
            }
            &:hover {
               padding: 10px 6px;
               a {
                  color: #ffb366;
                  text-decoration: none;
               }
            }
         }
      }
   }

   // Drop down
   #dropdown-menu {

      .dropdown-lists {
         display: none;
         margin: 0 auto;
         background-color: #ffffff;
         box-shadow: 0 2px 7px #dbdbdb;
         li {
            border-bottom: 1px solid #a4a4a4;
            border-left: 1px solid #a4a4a4;
            border-right: 1px solid #a4a4a4;
            padding: 14px 12px;

            a {
               display: block;
               width: 100%;
               font-size: 14px;
            }
            i {
               width: 16px;
               text-align: center;
               margin-right: 8px;
            }
            form {
               input[type=text] {
                  border: 1px solid #989898;
                  padding: 9px 8px;
                  border-top-left-radius: 6px;
                  border-bottom-left-radius: 6px;
                  font-size: 13px;
                  width: calc(100% - 55px);

                  &:hover {
                     border: 1px solid #ffb366;
                     box-shadow: -1px 0 3px 2px #ffb366;
                     outline: none;

                      + button {
                        border-top: 1px solid #ffb366;
                        border-right: 1px solid #ffb366;
                        border-bottom: 1px solid #ffb366;
                        box-shadow: 1px 0 3px 2px #ffb366;
                        outline: none;
                     }
                  }
               }
               button {
                  border: 1px solid #989898;
                  border-top-right-radius: 5px;
                  border-bottom-right-radius: 5px;
                  font-family: FontAwesome;
                  padding: 8px 5px 8px 11px;
                  margin-left: -5px;
                  i {
                     font-size: 18px;
                  }
               }
            }

            &:hover {
               background-color: #eeeeee;
            }
         }
      }
   }
}

/********************************************

                   Footer

********************************************/

footer {
   background-color: #242e2e;
   padding: 26px 19px;
   #footer-menu {
      li {
            margin-bottom: 9px;
            a {
               font-family: sans-serif;
               color: #a4a4a4;
               &:hover {
                  color: #ffffff;
                  text-decoration: underline;
               }
            }
      }
   }

   #copyright {
      margin-top: 20px;
      font-weight: bold;
      font-size: 14px;
      color: #676767;
   }
}

/********************************************

                   Main

********************************************/

#main {
   z-index: 1;
   padding: 62px 7px 25px 7px;
   min-height: 500px;

   #trend-banners {
      width: 100%;
      height: 150px;
      background-color: #565656;
      text-align: center;
      position: relative;
      img {
         position: absolute;
         top: 0;
         left: 15%;
         z-index: 0;
         height: inherit;
         width: 70%;
      }
      #trend-cover {
         padding: 9px;
         width: 70%;
         position: absolute;
         bottom: 0;
         left: 15%;
         z-index: 1;
         background-color: #2a2a2a;
         opacity: 0.7;
         text-align: left;
         a {
            color: #e1e1e1;
            font-size: 19px;
         }
      }

   }


}

.bootstrap-datetimepicker-widget {
   z-index: 2;
}

/********************************************

                   Flash

********************************************/
#flash {
   font-family: "ヒラギノ明朝 ProN W6";
   font-weight: bold;
   padding: 13px;
   margin: 12px 0;
   border-radius: 7px;
   font-size: 14px;
   opacity: 0.8;
   &:hover {
      opacity: 0.6;
      cursor: pointer;
   }
}
.flash-success {
   background-color: $box-success;
   color: $font-success;
}
.flash-info {
   background-color: $box-info;
   color: $font-info;
}
.flash-warning {
   background-color: $box-warning;
   color: $font-warning;
}
.flash-danger {
   background-color: $box-danger;
   color: $font-danger;
}

/********************************************

               Error Messages

********************************************/
.field_with_errors {
   display: inline;
    input {
      border: 1px solid $font-danger !important;
      &:focus { border: 1px solid #989898 !important; }
   }
}

.error-msg {
   margin-top: 7px;
   color: $font-danger;
   text-decoration: underline;
}
