// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-login {
   padding: 4px 14px;
   border: 1px solid #989898;
   border-radius: 4px;
   color: #ffffff;
   background-color: #99e699;

}
