// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/********************************************

                  Dashboard

********************************************/
   div.news {
      padding: 16px 8px !important;
      span { margin-right: 9px; }
   }

   div.event-summary {
      div.header {
         overflow: hidden;
         margin-bottom: 5px;
         h1 {
            float: left;
            width: calc(100% - 46px);
            a {
               font-size: 19px;
               color: #464646;
               &:hover { text-decoration: underline; }
            }
         }
         button {
            float: right;
         }
      }

      ul {
         li {
            margin-top: 5px;
         }
      }

      ul.info {
         li { color: #a3a3a3;}
      }
      ul.tickets {
         li {
            display: inline-block;
            margin-right: 16px;
         }
      }


   .pager-more {
      display: block;
      width: 100%;
      font-size: 15px;
      padding: 22px 0;
      text-align: center;
      border-bottom: 1px solid #9d9d9d;

      &:hover {
         background-color: #ededed;
         text-decoration: none;
      }
   }
}


/********************************************

                   Convention

********************************************/

#convention {
   ol {
      margin-left: 20px;
      list-style-type: decimal;
      li {
         margin-bottom: 15px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}
