
/********************************************

                  Libraries

********************************************/
@import './layout';
/********************************************

                  Dashboard

********************************************/
   div.news {
      padding: 16px 8px !important;
      span { margin-right: 9px; }
   }

   div.event-summary {
      div.header {
         overflow: hidden;
         margin-bottom: 5px;
         h1 {
            float: left;
            width: calc(100% - 46px);
            a {
               font-size: 19px;
               color: #464646;
               &:hover { text-decoration: underline; }
            }
         }
         button {
            float: right;
         }
      }

      ul {
         li {
            margin-top: 5px;
         }
      }

      ul.info {
         li { color: #6e6e6e;}
      }

      ul.tickets {
         li {
            display: inline-block;
            margin-right: 16px;
            color: #6e6e6e;
         }
      }
}

/********************************************

                  Search

********************************************/
#search {
      dl {
         margin-top: 17px;
         text-align: center;
         display: block;
         dt {
            display: inline-block;
            width: 85px;
            line-height: 32px;
            font-size: 14px;
         }
         dd {
            display: inline-block;
            position: relative;
            text-align: left;
            width: calc(100% - 100px);
            input {
               padding: 4px 7px !important;
               border-radius: 0 !important;
               width: calc(100% - 22px) !important;
               x-overflow: scroll;
               &:hover {
                  border: 1px solid #ffb366 !important;
                  box-shadow: 0 0 0 0 !important;
               }
            }

            input.date-selection {
               display: inline-block;
               margin-left: 0 !important;
               width: calc(50% - 23px) !important;
            }

            input#locations {
               &:hover {
                  cursor: text;
               }
            }

            div#locations-selection {
               position: absolute;
               z-index: 2;
               width: calc(100% - 22px);
               top: 35px;
               border: 1px solid #909090;
               border-radius: 4px;
               padding: 9px;
               background-color: #ffffff;
               height: 160px;
               overflow: scroll;

               dl {
                  width: 100%;
                  margin: 0 0 6px 0;
                  text-align: left;
                  dt, dd {
                     * { display: inline; }
                  }
                  dt {
                     width: 100%;
                     margin: 0;
                     text-align: left;
                      label { font-size: 15px; }
                  }
                  dd {
                     width:  auto;
                     margin: 0 5px;
                  }
               }
            }
         }

         dd.date-selection {
            width: 40%;
         }
      }

      dl#event-relatives {
         dl {
            margin-top: 0;
            display: inline-block;
            width: 48%;
            dt {
               width: 43px;
               margin: 0;
            }
            dd {
               margin: 0;
               width: calc(100% - 56px);
               input {
                  width: 100% !important;
               }
            }
         }
      }
      input.form-submit {
         background-color: #273956;
         width: calc(100% - 20px);
         margin: 21px auto !important;
         font-size: 15px !important;
         color: #ffffff;
      }
}

/********************************************

                   Convention

********************************************/

#convention {
   ol {
      margin-left: 20px;
      list-style-type: decimal;
      li {
         margin-bottom: 15px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}
