
/********************************************

                  Libraries

********************************************/
@import './layout';
/********************************************

                  Dashboard

********************************************/
   div.news {
      padding: 16px 8px !important;
      span { margin-right: 9px; }
   }

   a.event-summary {
      display: block;
      height: 100%;

      * { color: #464646; }
      &:hover { text-decoration: none; }
      &:active { text-decoration: none; }

      h1.header { font-size: 19px; }

      ul {
         li { margin-top: 5px; }
      }

      ul.info {
         li { color: #6e6e6e;}
      }
      div.tags {
         p {
            display: inline-block;
            padding: 7px 9px;
            width: auto;
            margin: 7px 9px 2px 0;
            color: #343434;
         }
         p.category-0 { background-color: #e5e5cc; }
         p.category-1 { background-color: #ffddcc; }
         p.category-2 { background-color: #ccfff5; }
         p.category-3 { background-color: #e6f2ff; }
         p.category-4 { background-color: #dcdcdc; }
      }

      ul.tickets {
         li {
            display: inline-block;
            margin-right: 16px;
            color: #6e6e6e;
         }
      }
}

div.article-commands {
   * {
      display: inline-block;
   }
}

/********************************************

                  Search

********************************************/
.search {
      dl {
         margin: 0 12px 15px 12px;
         dt, dd {
            display: inline-block;
         }
         dt {
            margin-right: 6px;
            width: 90px;
            text-align: center;
         }
         dd {
            width: calc(100% - 16px - 90px);
            position: relative;
            input[type=text], input[type=date] {
               box-sizing: border-box;
               border: 1px solid #989898;
               padding: 4px 6px;
               display: block;
               border-radius: 4px;
               display: inline-block;
               width: 100% !important;
               &:hover {
                  border: 1px solid #ffb366;
                  box-shadow: -1px 0 3px 2px #ffb366;
                  outline: none;
               }
            }

            div#locations-selection {
               position: absolute;
               z-index: 2;
               top: 27px;
               border: 1px solid #909090;
               border-radius: 4px;
               padding: 9px;
               background-color: #ffffff;
               height: 160px;
               overflow: scroll;

               dl {
                  width: 100%;
                  margin: 0 0 6px 0;
                  text-align: left;
                  dt, dd {
                     * { display: inline; }
                  }
                  dt {
                     width: 100%;
                     margin: 6px 0 4px 0;
                     text-align: left;
                      label { font-size: 15px; }
                  }
                  dd {
                     width:  auto;
                     margin: 2px 9px;
                  }
               }
            }

            ul#category-selection {
                  margin: 0 26px;
                  li {
                     text-align: left;
                     * {
                        display: inline-block;
                        margin-right: 5px;
                     }
                  }
               }
         }
      }

      input.form-submit {
         background-color: #273956;
         width: calc(100% - 20px);
         margin: 21px auto !important;
         font-size: 15px !important;
         color: #ffffff;
      }
}

/********************************************

                   Convention

********************************************/

#convention {
   ol {
      margin-left: 20px;
      list-style-type: decimal;
      li {
         margin-bottom: 15px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
}
