<div id="form-event-vue">
   <div class="md-form" id="title">
      <div class="init-area">
         <label>公演名</label><span class="required">必須</span>
         <input type="text" name="event[title]" id="event_title" v-bind:value="values.title">
      </div>
      <div class="error-msgs"><span v-if="typeof error_msgs !== 'undefined'">{{ error_msgs.title }}</span></div>
   </div>

   <div class="md-form" id="open_date">
      <div class="init-area">
         <label>開場時間</label>
         <input type="datetime-local" name="event[open_date]" id="event_open_date" v-bind:value="values.open_date">
      </div>
      <div class="error-msgs"><span v-if="typeof error_msgs !== 'undefined'">{{ error_msgs.open_date }}</span></div>
   </div>
   <div class="md-form" id="start_date">
      <div class="init-area">
         <label>開始時間</label><span class="required">必須</span>
         <input type="datetime-local" name="event[start_date]" id="event_start_date" v-bind:value="values.start_date">
      </div>
      <div class="error-msgs"><span v-if="typeof error_msgs !== 'undefined'">{{ error_msgs.start_date }}</span></div>
   </div>
   <div class="md-form" id="category">
      <div class="init-area">
         <label>公演の種類</label><span class="required">必須</span>
         <select name="event[category]" id="event_category" v-bind:value="values.category">
            <option v-for="(category, idx) in <%= Event::CATEGORIES %>" v-bind:value="idx">
               {{ category }}
            </option>
         </select>
      </div>
      <div class="error-msgs"><span v-if="typeof error_msgs !== 'undefined'">{{ error_msgs.category }}</span></div>
   </div>

   <div class="lg-form">
      <label>公演の説明</label>
      <textarea name="event[information]" id="event_information">{{ values.information }}</textarea>
      <div class="error-msgs"></div>
   </div>
   <div class="md-form" id="official_url">
      <div class="init-area">
         <label>サイトURL</label><span class="required">必須</span>
         <input type="text" name="event[official_url]" id="event_official_url" v-bind:value="values.official_url">
      </div>
      <div class="error-msgs"><span v-if="typeof error_msgs !== 'undefined'">{{ error_msgs.official_url }}</span></div>
   </div>
   <div class="md-form" id="flyers">
      <div class="init-area">
         <label>フライヤー</label>
         <div class="uploader">
            <input type="file" name="flyer[images][]" id="event_flyers" multiple="multiple">
            <ul>
               <li v-for="(flyer, idx) in values.flyers"><img v-bind:src="flyer.image.url" v-bind:alt="flyer.image.url"></li>
            </ul>
         </div>
      </div>
   </div>
   <input type="hidden" name="event[publishing_status]" id="event_publishing_status" v-bind:value="values.publishing_status">
   <input type="hidden" name="event[place_id]" id="event_place_id" v-bind:value="values.place_id">
   <input type="hidden" name="event[original_event_id]" id="original_event_id" v-bind:value="values.id">
   <input type="hidden" name="id" id="id" v-bind:value="values.id">
</div>
