<div id="join-histories-index">
   <%= render('shared/globalnav', object: { path: 'join_histories#index', type: 'general' }) %>

   <div id="join-history-selector">
      <span>履歴の種類</span>
      
      <%= form_tag('join_histories', method: :get) do %>
      <%= select_tag(:status, options_for_select(JoinHistory::STATUS.collect { |t| [t, JoinHistory::STATUS.find_index(t)] }, @join_history_status)) %>
      <% end %>
   </div>

   <div class="section">
      <%= render 'shared/event_articles' %>
   </div>
</div>
