<div id="places-edit">
   <div class="headline">
      <h1>会場の編集</h1>
   </div>

   <div class="form-section">
      <h1 class="form-header">会場の編集</h1>

      <div class="lg-form">
         <label>会場名</label><span>必須</span>
         <input type="text">
      </div>
      <div class="lg-form">
         <label>住所</label>
         <input type="text">
      </div>
      <div class="lg-form">
         <label>サイトURL</label>
         <input type="text">
      </div>
   </div>

   <input class="form-submit" type="submit" value="保存">
</div>
