<!-- footer -->
<footer>
<ul id="footer-menu">
   <li><%= link_to "Noh-Event(仮)とは", about_path %></li>
   <li><%= link_to "よくある質問", help_path %></li>
   <li><%= link_to "利用規約", convention_path %></li>
</ul>
<p id="copyright"><%= DateTime.now.year %> © Shanttiy All rights reserved</p>
</footer>
