<!-- footer -->
<footer>
<ul id="footer-menu">
    <li><a href="#">利用規約・プライバシーポリシー</a></li>
    <li><a href="#">Noh-Event(仮)とは</a></li>
    <li><a href="#">よくある質問</a></li>
</ul>
<p id="copyright">© 2017 Noh-Event</p>
</footer>
